*.pyc
*~
*.o
config.log
backend/build
bin/
build/
doc/
etc/
lib/
share/
root_fs_beta2
.sconf_temp/
.sconsign.dblite
frontend/src/gbuilder/Core/paths.py
.ctags*
.tags*
tags
.cproject*
.project*
.pydevproject*
.settings
backend/src/pox/ext/gini/samples/*.xml
*.swp
*.deb
.idea/
